<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/quotes.js"></script>
		<title>MacRumors Articles App</title>
		<style>
			html {
			  height: auto;
			  min-height: 100%;
			}

			body {
			  height: auto;
			  min-height: 100%;
			}

			.headline {
			  margin-bottom : -.23rem;
			}

			#commentform {
			  width: 50%;
			}

			.authoredon {

			}

			.authoredby {

			}

			.commenttitle {

			}

			.commentbody {

			}

		</style>
	</head>
	<body>
		{{{ body }}}
		<script src="/clientfuncs.js"></script>
	</body>
</html>
